.bash_history
.bash_logout
.bashrc
.cache/
.config/
.gdfuse/
.gitconfig
.gnupg/
.ipython/
.local/
.mono/
.mozilla/
.npm/
.nv/
.pki/
.profile
.python_history
.recently-used
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vimrc.swp
.wget-hsts
Downloads/
Google-Drive/
Pictures/
my-dev-projects/
nicolas/
snap/
